.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box{
    width: 150px ;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: salmon;
    order: -;
}
#box2{
    background-color: sandybrown;
}

#box3{
    background-color: rgb(255, 131, 22);
}
#box4{
    background-color: rgb(252, 89, 60);
}