*{
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 40, 40) ;
    margin: 0px;
}

header{
    background-color: antiquewhite;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: rgb(231, 176, 72);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    color: aliceblue;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
    color: aliceblue;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
    color: aliceblue;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(156, 81, 20);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}